*.dSYM
*.o
*.plist/
.deps
.dirstamp
.DS_Store
/Makefile
aclocal.m4
autom4te.cache
cachegrind.out.*
callgrind.out.*
clang_output_*
compile
config.log
config.status
configure
depcomp
diffshipper
gmon.out
install-sh
Makefile.in
missing
src/config.h*
src/dmp_lua_str.h
stamp-h1
